<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
          <div class="form-group col-12">
            <label for="">Name</label>
            <input class="form-control" ngModel name="userName" required />
          </div>

          <div class="form-group col-12">
            <label for="">Password</label>
            <input class="form-control" ngModel name="password" required />
          </div>

          <div class="form-group col-12">
            <button
              [disabled]="!loginForm.valid"
              type="submit"
              class="btn btn-primary"
            >
              Login
            </button>
            <button type="submit" class="btn btn-secondary ml-2">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
