<div class="card">
  <div class="card-img-wrapper">
    <img class="card-img-top" src="assets/images/house-default.jpg" alt="" />

    <ul class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-primary"><i class="fas fa-edit"></i></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary">
          <i class="far fa-address-book"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="card-body p-3">
    <h3>{{ property.Name }}</h3>
    <h4>{{ property.Type }}</h4>
    <h5>{{ property.Price }}</h5>
  </div>
</div>
